html{
	height: 2000px;
}
body {
	
	font-family: "Montserrat", sans-serif;
	background-color: #31353b;

}
div {
	background-color: #d1d7e0;
	position: fixed;

	margin-top: 25vh;
	margin-bottom: 25vh;
	margin-left: 20vw;
	margin-right: 20vw;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 60vw;
}
.mainTitle {
	text-align: center;
	font-size: 10vh;
}
.titleDiv {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.questionDiv {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.dataDiv {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.analysisDiv {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.visualizationDiv{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.answerDiv {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
#scroll-distance {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #ccc;
