.img1, .img2, .img3{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
}
.img1{
	background-image: url("img.png");
	min-height: 100vh;
}
.img2{
	background-image: url("image.png");
	min-height: 100vh;
}
.img3{
	background-image: url("image2.png");
	min-height: 100vh;
}

